<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serien Verwaltung</title>
</head>
<body>
<h1>Serien Verwaltung</h1>

<form method="POST">
    <input type="text" name="Serie" placeholder="Serie Name"><br>
    <br>
    <input type="text" name="Genre" placeholder="Genre"><br>
    <br>
    <input type="text" name="Staffelanzahl" placeholder="Anzahl Staffeln"><br>
    <br>
    <input type="text" name="Erscheinungsjahr" placeholder="Erscheinungsjahr"><br>
    <br>
    <button type="submit">Senden</button>
</form>
</body>
</html>